<nav class="navbar border-bottom-0">
    <div class="container">
        
        <a class="navbar-brand" href="/houses" >
        <img src="../images/logo-airbnb.png" alt="logo-airbnb" width="87" height="28" />
        </a>
        <div class="d-flex gap-2">
            <a href="/profile" class="btn btn-outline-secondary btn-sm" type="button"><img class="rounded-circle pr-5" src="./images/IMG_2117-2.jpg" alt="logo-airbnb" width="20" height="20" /> Justin B</a>
            
            <a href="/auth/logout" class="btn btn-outline-secondary btn-sm" type="button">Logout</a>
            
        </div>      
        
    </div>
</nav>