  <body>
    {{> nav}}
    <div class="container pt-4">
      <div class="alert alert-danger" role="alert">
          {{message}}
        {{!-- Email or Password is wrong --}}
      </div>
    </div>
    <div class="container">
      <header>
          {{message}}
        {{!-- Error: Email or password is wrong --}}
      </header>
      <ul style="list-style-type:none;">
          {{error.stack}}
        {{!-- <li>at /Users/justin/Projects/Tortuga Coders/Projects/Airbnb/project-airbnb-finished/controllers/index.js:70:15</li>
        <li>at runMicrotasks (<anonymous>)</li>
        <li>at processTicksAnfRejections (internal/process/task_queues.js:95:5)</li> --}}
      </ul>
    </div>
  </body>
