nav {
    border-bottom: 1px solid lightgray;
}
.housesImg{
    width: 100px;
}
h5 a, h5 a:link, h5 a:visited, h5 a:hover {
    text-decoration: none;    
    color: black;
}
.loginBG {
    background-image: url(https://res.cloudinary.com/dsko6ntfj/image/upload/v1642399115/portal/web%20development%20beginners/05%20Project%20Airbnb/assets/thailand.jpg;);   
    background-size: cover;
}
/* nav a {
    border-radius: 10%;
    pointer-events: none;
} */