
  <body>
      <!-- NAVI BAR -->
      {{> nav}}
      <!-- Form -->

      <form class="container text-align-center">
          <h1 class="pt-5">Edit House</h1>
          <label class="pt-3">Short Title</label>
          <input class="form-control" type="text" aria-label="default input example" placeholder="Luxury Villa in Chaweng"/>
          <label class="pt-3">Description</label>
          <textarea class="form-control pt-2" rows="6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis suscipit impedit ducimus nisi aliquam maxime neque dolores in exercitationem deserunt dolore, autem accusantium iste ratione? Laudantium repellendus ex perspiciatis dicta.</textarea>
          <label class="pt-3">Number of Rooms</label>
          <input class="form-control" type="number" min="1" max="10" placeholder="3"/>
          <label class="pt-3">Location</label>
          <div class="col">
            <div class="input-group">              
              <select class="form-select" aria-label="Default select example">
                <option selected>Koh Samui</option>
                <option value="1">Koh Samui</option>
                <option value="2">Bali</option>
              </select>
            </div>
          </div>
          <div class="col">
              <label class="pt-3">Price (per night)</label>
              <div class="input-group">              
                  <span class="input-group-text">$</span>          
                  <input class="form-control" type="number" min="1" max="10" placeholder="100"/>
              </div>
          </div>
          <span class="input-group pt-3">Add Photos (up to 9)</span>
          <input class="form-control" type="text" placeholder="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png
          " aria-label="default input example">
          <span class="input-group pt-1"></span>
          <input class="form-control" type="text" placeholder="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png
          " aria-label="default input example">
          <span class="input-group pt-1"></span>
          <input class="form-control" type="text" placeholder="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png
          " aria-label="default input example">
          <span class="input-group pt-1"></span>
          <input class="form-control" type="text" placeholder="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png
          " aria-label="default input example">
          <span class="input-group pt-1"></span>
          <input class="form-control" type="text" placeholder="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png
          " aria-label="default input example">
          <span class="input-group pt-1"></span>
          <input class="form-control" type="text" placeholder="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png
          " aria-label="default input example">
          <span class="input-group pt-1"></span>
          <input class="form-control" type="text" placeholder="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png
          " aria-label="default input example">
          <span class="input-group pt-1"></span>
          <input class="form-control" type="text" placeholder="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png
          " aria-label="default input example">
          <span class="input-group pt-1"></span>
          <input class="form-control" type="text" placeholder="http://..." aria-label="default input example">
          <span class="input-group pt-4"></span>
          <button type="button" class="btn btn-success">Save Changes</button>
          <span class="input-group pt-2"></span>
          <button type="button" class="btn btn-danger">Delete House</button>
      </form>
  </body>
</html>